<tr>
    <td style="padding-bottom: 10px;" class="mod_ja_cell" colspan="2">
        #TEXT#<br />
        <u>Summary</u><br />
        #SUMMARY#
        <br />
        <u>Details</u>
    </td>
</tr>

<td class="stardew_label" style="width:100px;"><u>Name</u></td>
<td class="stardew_label" style="width:450px;"><u data-i18n="ui.details">Details</u></td>
<td class="stardew_label" style="width:100px;"><u>Image</u></td>
<td class="stardew_label" style="width:100px;"><u>Type</u></td>
<td class="stardew_label" style="width:150px;"><u>Categories</u></td>
<td class="stardew_label" style="width:100px;"><u>Price</u></td>